body {
    width: 700px;
    margin: 0 auto;
    padding: 10px 50px;
    border: 10px solid gray;
    border-radius: 35px;
}

h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
}

p, li, button {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}

button {
    border-radius: 1500px;
    background-color: black;
    color: white;

}
